/* GENERAL */
body {
    background-image: url("/img/Logo.png"); 
}

.container {
    position: relative;
    margin: 150px auto;
    width: 600px;
    height: 500px;
    background-color: gray;
    border-radius: 100px;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;





}


input {
    font-size: 20px;
    padding: 10px;
    display: flex;
    margin: 10px 0;

}


button {
    color: rgb(87, 87, 87);
    font-weight: bold;
    font-size: 20px;
    margin: 10px auto;
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 25px;
    
}

button:hover {
    color: rgb(28, 28, 28);
    background-color: rgb(211, 211, 211)
}

/* LOGIN PAGE */


#backbutton{

    top: 10px;
    left: 10px;
    font-size: 10px;
    padding: 5px 10px;
}

.upgradebox {
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

.upgrades, .skins {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.upgradeGrid, .skinsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.bananorama-logo {
    width: 100px;
}